bin/

src/*.o
src/*.out

utils/*.out
utils/*.o

recipes/*.o
recipes/*.out

index.html

dist/

.idea/

./obj

# macOS
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride

# Thumbnails / metadata
._*

# Files that might appear on external drives
.Spotlight-V100
.Trashes
